<!doctype html>
<html>
  <head>
    <title>Matthias Wasser's webpage</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Hello, World</h1>
    <p id="stuff">Blah, blah, blah.</p>
    <button hx-get="#stuff">
      Get the above paragraph
    </button>
    <button hx-get="https://letterfromjail.com/" hx-target="#target-place">
      Get things
    </button>
    <details>
      <summary>Dropdown text</summary>
      Here's some additional text.
    </details>
    <div id="target-place"></div>
  </body>
</html>
